<div class="container">
    <div class="row">
        <div class="col-md-offset-8 col-md-4">
            <select class="form-control" [(ngModel)]="pageSize" class="pull-right">
                <option value =10>10</option>
                <option value=100>100</option>
                <option value=1000>1000</option>
            </select>
        </div>
    </div>   
</div>
<div class="container">
    <table class="table table-condensed">
        <thead>
            <tr>
                <td hidden class="text-center pointer" (click)="sort('_id')">
                    <span class="ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>
                    <span class="gridHeader">Distributor Id</span>
                    <i class="fa pull-right" [ngClass]="{'fa-sort': column != '_id', 'fa-sort-asc': (column == '_id' && !isDesc), 'fa-sort-desc': (column == '_id' && isDesc) }" aria-hidden="true"> </i>
                </td>
                <td class="text-center pointer" (click)="sort('fullName')">
                    <span class="ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>
                    <span class="gridHeader">Name </span>
                    <i class="fa pull-right" [ngClass]="{'fa-sort': column != 'fullName', 'fa-sort-asc': (column == 'fullName' && !isDesc), 'fa-sort-desc': (column == 'fullName' && isDesc) }" aria-hidden="true"></i>
                </td>
                <td class="text-center pointer" (click)="sort('designation')">
                    <span class="ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>
                    <span class="gridHeader">Position </span>
                    <i class="fa pull-right" [ngClass]="{'fa-sort': column != 'designation', 'fa-sort-asc': (column == 'designation' && !isDesc), 'fa-sort-desc': (column == 'designation' && isDesc) }" aria-hidden="true"></i>
                </td>
                <td class="text-center pointer" (click)="sort('searchControl')">
                    <span class="ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>
                    <span class="gridHeader">Office </span>
                    <i class="fa pull-right" [ngClass]="{'fa-sort': column != 'searchControl', 'fa-sort-asc': (column == 'searchControl' && !isDesc), 'fa-sort-desc': (column == 'searchControl' && isDesc) }" aria-hidden="true"></i>
                </td>
                <td class="text-center pointer" (click)="sort('age')">
                    <span class="ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>
                    <span class="gridHeader">Age </span>
                    <i class="fa pull-right" [ngClass]="{'fa-sort': column != 'age', 'fa-sort-asc': (column == 'age' && !isDesc), 'fa-sort-desc': (column == 'age' && isDesc) }" aria-hidden="true"></i>
                </td>
                <td class="text-center pointer" (click)="sort('startDate')">
                    <span class="ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>
                    <span class="gridHeader">Start Date </span>
                    <i class="fa pull-right" [ngClass]="{'fa-sort': column != 'startDate', 'fa-sort-asc': (column == 'startDate' && !isDesc), 'fa-sort-desc': (column == 'startDate' && isDesc) }" aria-hidden="true"></i>
                </td>
                <td class="text-center pointer" (click)="sort('salary')">
                    <span class="ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>
                    <span class="gridHeader">Salary </span>
                    <i class="fa pull-right" [ngClass]="{'fa-sort': column != 'salary', 'fa-sort-asc': (column == 'salary' && !isDesc), 'fa-sort-desc': (column == 'salary' && isDesc) }" aria-hidden="true"></i>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let position of positions | 
                        orderBy: {property: column, direction: direction} |
                        paginate: {itemsPerPage: pageSize, currentPage:p}; let i = idx">
                <ng-template [ngTemplateOutlet] = "loadTemplate(position)"
                [ngTemplateOutletContext]="{$implicit: position, idx: i}"></ng-template>
            </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-3 pull-left">
            <pagination-controls class="pull-left" (pageChange) = "p = $event"></pagination-controls>
        </div>
    </div>
</div>
<ng-template #readOnlyTemplate let-position>
    <td hidden>{{ position._id }}</td>
    <td class="text-center">{{ position.fullName }}</td>
    <td class="text-center">{{ position.designation }}</td>
    <td class="text-center">{{ position.searchControl }}</td>
    <td class="text-center">{{ position.age }}</td>
    <td class="text-center">{{ position.startDate | date:'yyyy-MMM-dd' }}</td>
    <td class="text-center">${{ position.salary | number:'.2'}}</td>
</ng-template>