<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="searchControl">Location</label>
                    <input placeholder="search for location" autocorrect="off" 
                    autocapitalize="off" spellcheck="off" type="text" class="form-control" 
                    #search [formControl]="searchControl" formControlName="searchControl">
                    <div *ngIf="myForm.controls['searchControl'].errors &&(myForm.controls['searchControl'].dirty || myForm.controls['searchControl'].touched)"> 
                        <div class="alert alert-danger">
                            <div [hidden] ="!myForm.controls['searchControl'].hasError('required')">Location is Required</div>
                        </div>
                    </div> 
                </div>
                <div *ngIf = "showFormFields">
                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control" formControlName="fullName">
                        <div *ngIf="myForm.controls['fullName'].errors &&(myForm.controls['fullName'].dirty || myForm.controls['fullName'].touched)"> 
                            <div class="alert alert-danger">
                                <div [hidden] ="!myForm.controls['fullName'].hasError('required')">Full Name is Required</div>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group">
                        <label for="designation">Position</label>
                        <input type="text" class="form-control" formControlName="designation">
                        <div *ngIf="myForm.controls['designation'].errors &&(myForm.controls['designation'].dirty || myForm.controls['designation'].touched)"> 
                            <div class="alert alert-danger">
                                <div [hidden] ="!myForm.controls['designation'].hasError('required')">Designation is Required</div>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" formControlName="age">
                        <div *ngIf="myForm.controls['age'].errors &&(myForm.controls['age'].dirty || myForm.controls['age'].touched)"> 
                            <div class="alert alert-danger">
                                <div [hidden] ="!myForm.controls['age'].hasError('required')">Age is Required</div>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="number" class="form-control" formControlName="salary">
                        <div *ngIf="myForm.controls['salary'].errors &&(myForm.controls['salary'].dirty || myForm.controls['salary'].touched)"> 
                            <div class="alert alert-danger">
                                <div [hidden] ="!myForm.controls['salary'].hasError('required')">Salary is Required</div>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <input type="date" class="form-control" formControlName="startDate">
                        <div *ngIf="myForm.controls['startDate'].errors &&(myForm.controls['startDate'].dirty || myForm.controls['startDate'].touched)"> 
                            <div class="alert alert-danger">
                                <div [hidden] ="!myForm.controls['startDate'].hasError('required')">Start Date is Required</div>
                            </div>
                        </div> 
                    </div>
                    
                    <button class="btn btn-primary"  type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
        </div>
    </div>
    
    
</div>