<div class="col-md-8 col-md-offset-2">
    <div class="container">
        <div *ngIf="messageFlag" class="alert alert-info box-msg" role="alert">
            <strong>{{ message }}</strong> 
        </div>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">Email</label>
            <input type="text" id="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" class="form-control" formControlName="fullName">
        </div>
        <button class="btn btn-primary" [disabled]="!myForm.valid" type="submit">Submit</button>
    </form>
</div>