<div class="col-md-4 col-md-offset-4">
    <div *ngIf="!data.success && data.message !=''">
        <div class="alert alert-danger">
            <div>{{data.message}}</div>
        </div>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
        </div>
        <button class="btn btn-primary" [disabled]="!myForm.valid" type="submit">Login</button>
    </form>
</div>